@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --header-bg: #171A21;
    --font-color: #B8B6B4;
    --gradient-bg: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
}

#logo {
    height: 70px;
}

body {
    font-family: 'Motiva Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: var(--gradient-bg);
    color: var(--font-color);
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 36px 56px;
    gap: 56px;
    background-color: var(--header-bg);
}

nav > a {
    color: var(--font-color);
    font-size: large;
    padding: 4px;
}

nav > a:hover {
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 56px;
    margin: 32px auto;
    height: 100%;
    width: 100%;
}

.store-container-inner {
    box-shadow: 1px 1px 1px 2px #00000063;
}

.cover {
    height: 406px;
}

.second-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    margin: 64px auto;
}

.thumb {
    transition: 0.4s;
}

.thumb:hover {
    transform: scale(1.1);
}

.second-container > img, .second-container > a > img {
    height: 200px;
}

.store-container-second, .store-container-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 56px auto;
}

.store-container-second > img, .store-container-third > img {
    height: 200px;
}

.btn {
    background-color: #648037;
    color: #c1e686;
    padding: 10px 12px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #849A29;
    color: whitesmoke;
}

.bnt:visited {
    color: #c1e686;
}


footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg);
    height: 12rem;
    width: 100%;
}

html, body {
    min-height: 100%;
}